<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.webmobilefinal.dao.MemberRepository">
<select id="getAllMember" resultType="com.ssafy.webmobilefinal.vo.Member">
	select * from member;
</select>

</mapper>

<!-- <?xml version="1.0" encoding="UTF-8" ?> -->
<!-- <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > -->
<!-- <mapper namespace="com.spring.web.portfolio_reply.PortFolioReplyMapper" > -->
<!--     <select id="listPortFolioReply" resultType="com.spring.web.portfolio_reply.PortFolioReplyDto"> -->
<!--         select * from portfolio_reply; -->
<!--     </select> -->

<!-- </mapper> -->
