<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.webmobilefinal.dao.scheduleRepository">
<select id="getAllSchedule" parameterType="Integer" resultType="com.ssafy.webmobilefinal.vo.userSchedule">
		select * from userSchedule where uid = #{uid}
</select>
<select id="getOneSchedule" parameterType="Integer" resultType="com.ssafy.webmobilefinal.vo.userSchedule">
		select * from userSchedule where sche_id = #{sche_id}
</select>
</mapper>
